{{!< default}}
<div class="col-xs-10 col-xs-offset-1" id="top">
  <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
    <div id="logo">
      <a href="/"><img class="img-responsive" src="/images/logo.jpg" /></a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-7 col-xs-offset-2 col-sm-offset-6 text-right">
      <span>{{user.local.name}}</span><br>
      <span>{{user.local.organization}}</span><br>
      <span class="fa fa-sign-out"><a href="/logout">Sign out</a></span>
    <hr>
  </div>

</div>

<div id="wrapper">
  <div class="col-xs-5 col-xs-offset-2 container clear-top" id="main">
    <h2>{{name}}</h2>
    <h5>Tracking URL: {{url}}</h5>
    <h5>Tags: {{type}}</h5>
    <h5>Track Until: {{until}}</h5>
    <hr />

    <h4>Versions</h4>
    {{#each htmls}}
      <a href="display/version/{{../docId}}/{{this._id}}" ><p>Version {{@index}}</p></a>
    {{/each}}
    <hr />
    <h4>Last Changes</h4>
    <h5>Added</h5>
    {{#each add}}
    <p class="added">{{this}}</p>
    {{/each}}

    <h5>Removed</h5>
    {{#each remove}}
    <p class="removed">{{this}}</p>
    {{/each}}
    <hr />

    <h4>View All Changes</h4>

  </div>
</div>

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid col-xs-10 col-xs-offset-1">
    <h6 class="col-xs-2"> Polybius V.0.0.1</h6>
    <a href="https://github.com/cvalenzuela/polybius" target="_blank" class="pull-right"><h6>Documentation</h6></a>
  </div>
</footer>
